:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  
  #container {
    width: 45rem;
    max-width: 45rem;
    height: 45rem;
    max-height: 45rem;
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  .grid-item {
    content: "";
    border: 1px solid #ddd;
    text-align: center;
  }