:root {
    --grid-cols: 1;
    --grid-rows: 1;
  }
  body{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .controls{
    align-self: center;
    margin: 0 auto;
  }
  #container {
    width: 41.25rem;
    max-width: 41.25rem;
    height: 41.25rem;
    max-height: 41.25rem;
    display: grid;
    margin: 0 auto;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
  }
  .grid-item {
    content: "";
    border: 1px solid #ddd;
    text-align: center;
  }